#u3305
{
	border-style: none;
	border-color: transparent;
	background-color: #161616;
	position: fixed;
}

#u3285-3
{
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: fixed;
	background: transparent url("../images/beakerladies_v3white.svg") no-repeat center top;
	background-size: contain;
}

.nosvg #u3285-3
{
	background-image: url('../images/beakerladies_v3white_poster_u1191.png');
}

#u3286-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u3287-4
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #C4C4C4;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 5px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u3284,#u3288
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u3293-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3293-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u3293-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3290-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3290-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u3290-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3291-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3289-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3289-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u3291-4:hover p,#u3289-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3292-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3291-4:hover,#u3292-4:hover
{
	border-style: none;
}

#u3294-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3294-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u3292-4:hover p,#u3294-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3295-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u3295-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u3293-4.MuseLinkActive,#u3290-4.MuseLinkActive,#u3289-4.MuseLinkActive,#u3294-4.MuseLinkActive,#u3295-4.MuseLinkActive
{
	border-style: solid;
	border-color: #E8A28D;
	border-width: 0px 0px 1px;
}

#u3295-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3293-4.MuseLinkActive p,#u3290-4.MuseLinkActive p,#u3289-4.MuseLinkActive p,#u3294-4.MuseLinkActive p,#u3295-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3307
{
	background-color: #E8E8E8;
}

#u3307_align_to_page
{
	position: relative;
}

#u3304
{
	border-style: solid;
	border-color: #606060;
	background-color: #161616;
	position: fixed;
	border-width: 0px 0px 1px;
}

#u3296,#u3297
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3300
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u3300.png") no-repeat 0px 0px;
}

#u3300:hover
{
	background: url("../images/u3300-r.png") no-repeat 0px 0px;
}

#u3300:active
{
	background: url("../images/u3300-m.png") no-repeat 0px 0px;
}

#u3298
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u3298.png") no-repeat 0px 0px;
}

#u3298:hover
{
	background: url("../images/u3298-r.png") no-repeat 0px 0px;
}

#u3298:active
{
	background: url("../images/u3298-m.png") no-repeat 0px 0px;
}

#u3302
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u3302.png") no-repeat 0px 0px;
}

#u3302:hover
{
	background: url("../images/u3302-r.png") no-repeat 0px 0px;
}

#u3302:active
{
	background: url("../images/u3302-m.png") no-repeat 0px 0px;
}

