#u2054
{
	border-style: none;
	border-color: transparent;
	background-color: #161616;
	position: fixed;
}

#u3556-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 135px;
	line-height: 162px;
	letter-spacing: 4px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3555-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 2px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2057-3
{
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: fixed;
	background: transparent url("../images/beakerladies_v3white.svg") no-repeat center top;
	background-size: contain;
}

.nosvg #u2057-3
{
	background-image: url('../images/beakerladies_v3white_poster_u1191.png');
}

#u2059-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u2058-4
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #C4C4C4;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 5px;
	text-align: center;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: fixed;
}

#u3553
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	background: #000000 url("../images/machinery_vector4.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u3553
{
	background-image: url('../images/machinery_vector4_poster_u1202.png');
}

#u3554,#u2056,#u2060
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u2064-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 18px;
	font-weight: 100;
	position: fixed;
}

#u2064-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u2064-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2064-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2065-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-weight: 100;
	position: fixed;
}

#u2065-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u2065-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2065-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2061-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-weight: 100;
	position: fixed;
}

#u2061-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u2061-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2061-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2067-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-weight: 100;
	position: fixed;
}

#u2067-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u2067-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2067-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2066-4
{
	border-color: #F2E6DA;
	background-color: transparent;
	line-height: 17px;
	font-weight: 100;
	position: fixed;
}

#u2066-4:hover
{
	border-style: none;
	border-color: #F2E6DA;
}

#u2064-4.MuseLinkActive,#u2065-4.MuseLinkActive,#u2061-4.MuseLinkActive,#u2067-4.MuseLinkActive,#u2066-4.MuseLinkActive
{
	border-style: solid;
	border-color: #E8A28D;
	border-width: 0px 0px 1px;
}

#u2066-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2066-4.MuseLinkActive p
{
	color: #E9A58E;
	visibility: inherit;
	padding-top: 11px;
	letter-spacing: 4px;
	font-size: 18px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2064-2,#u2065-2,#u2061-2,#u2067-2,#u2066-2
{
	letter-spacing: 0px;
	font-family: museo-sans, sans-serif;
}

#u2085
{
	background-color: #E8E8E8;
}

#u2085_align_to_page
{
	position: relative;
}

#u2087
{
	border-style: solid;
	border-color: #606060;
	background-color: #161616;
	position: fixed;
	border-width: 0px 0px 1px;
}

#u2086,#u2088
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2091
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u2091.png") no-repeat 0px 0px;
}

#u2091:hover
{
	background: url("../images/u2091-r.png") no-repeat 0px 0px;
}

#u2091:active
{
	background: url("../images/u2091-m.png") no-repeat 0px 0px;
}

#u2093
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u2093.png") no-repeat 0px 0px;
}

#u2093:hover
{
	background: url("../images/u2093-r.png") no-repeat 0px 0px;
}

#u2093:active
{
	background: url("../images/u2093-m.png") no-repeat 0px 0px;
}

#u2089
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u2089.png") no-repeat 0px 0px;
}

#u2089:hover
{
	background: url("../images/u2089-r.png") no-repeat 0px 0px;
}

#u2089:active
{
	background: url("../images/u2089-m.png") no-repeat 0px 0px;
}

