.version.succes_stories /* version checker */
{
	color: #0000EB;
	background-color: #EC7658;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6639px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 6486px;
	width: 0.01px;
}

#u3305
{
	z-index: 3;
	width: 225px;
	height: 1600px;
	top: 0px;
	left: 0px;
}

#u3284
{
	z-index: 4;
	width: 0px;
	top: 55px;
	left: 0px;
	padding: 26px 125px 142px 100px;
}

#u3285-3
{
	z-index: 13;
	width: 225px;
	min-height: 96px;
	top: 55px;
	left: 0px;
}

#u3286-4
{
	z-index: 5;
	width: 224px;
	min-height: 54px;
	top: 151px;
	left: 0px;
}

#u3287-4
{
	z-index: 9;
	width: 225px;
	min-height: 18px;
	top: 205px;
	left: 0px;
}

#u3288
{
	z-index: 16;
	width: 130px;
	top: 280px;
	left: 46px;
}

#u3288_position_content
{
	margin-top: -135px;
	padding-bottom: 479px;
}

#u3293-4
{
	z-index: 41;
	width: 130px;
	min-height: 45px;
	top: 280px;
	left: 46px;
}

#u3290-4
{
	z-index: 21;
	width: 130px;
	min-height: 45px;
	top: 330px;
	left: 46px;
}

#u3293-4:hover,#u3290-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 130px;
	margin: 0px;
}

#u3291-4
{
	z-index: 25;
	width: 130px;
	min-height: 45px;
	top: 380px;
	left: 46px;
}

#u3289-4
{
	z-index: 29;
	width: 130px;
	min-height: 45px;
	top: 430px;
	left: 46px;
}

#u3291-4:hover,#u3289-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 130px;
	margin: 0px;
}

#u3292-4
{
	z-index: 17;
	width: 130px;
	min-height: 45px;
	top: 480px;
	left: 46px;
}

#u3294-4
{
	z-index: 33;
	width: 130px;
	min-height: 45px;
	top: 530px;
	left: 46px;
}

#u3292-4:hover,#u3294-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 130px;
	margin: 0px;
}

#u3295-4
{
	z-index: 37;
	width: 130px;
	min-height: 45px;
	top: 580px;
	left: 46px;
}

#u3295-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 130px;
	margin: 0px;
}

#u3290-4.MuseLinkActive,#u3289-4.MuseLinkActive,#u3294-4.MuseLinkActive,#u3295-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 130px;
	margin: 0px 0px -1px;
}

#u3307_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u3296
{
	z-index: 45;
	width: 223px;
	padding-bottom: 58px;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 1px;
}

#u3304
{
	z-index: 46;
	width: 223px;
	height: 154px;
	bottom: -2px;
	left: 1px;
}

#u3297
{
	z-index: 47;
	width: 130px;
	padding-bottom: 41px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 22px;
}

#u3300
{
	z-index: 57;
	height: 41px;
	width: 40px;
	bottom: 56px;
	left: 23px;
}

#u3298
{
	z-index: 53;
	height: 41px;
	width: 40px;
	bottom: 56px;
	left: 68px;
}

#u3302
{
	z-index: 49;
	height: 41px;
	width: 40px;
	bottom: 56px;
	left: 113px;
}

#u3307,#u3307-bw
{
	z-index: 2;
	min-height: 153px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

