.version.workshop /* version checker */
{
	color: #0000F1;
	background-color: #26BB6F;
}

.html
{
	background-color: #212121;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1302px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 300px;
	width: 0.01px;
}

#u4536
{
	z-index: 40;
	height: 50px;
	top: 0px;
}

#u4536-bw
{
	z-index: 40;
}

#u5228
{
	z-index: 109;
	width: 371px;
	top: 5px;
	left: 139px;
}

#u5195-4
{
	z-index: 122;
	width: 91px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u4115
{
	z-index: 119;
	height: 40px;
	width: 40px;
	top: 5px;
	left: 230px;
}

#u5203
{
	z-index: 130;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	left: 131px;
}

#u4111
{
	z-index: 115;
	height: 40px;
	width: 40px;
	top: 5px;
	left: 310px;
}

#u5197
{
	z-index: 127;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	left: 211px;
}

#u5209
{
	z-index: 133;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	left: 251px;
}

#u5221
{
	z-index: 136;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	left: 291px;
}

#u4113
{
	z-index: 111;
	height: 40px;
	width: 40px;
	top: 5px;
	left: 470px;
}

#pamphletu5229
{
	z-index: 138;
	width: 0.01px;
	height: 35px;
	padding-bottom: 4px;
	top: 9px;
	left: 50%;
	margin-left: -110px;
}

#u5230
{
	z-index: 139;
	width: 100px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u5231
{
	width: 105px;
	padding-bottom: 3px;
	top: -2px;
	left: -3px;
}

#u5232-4
{
	z-index: 141;
	width: 84px;
	min-height: 14px;
	padding: 8px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u5231:hover #u5232-4
{
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 14px;
	width: 84px;
	margin: 3px -10000px 0px 0px;
}

#u5231.PamphletThumbSelected #u5232-4
{
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 14px;
	width: 84px;
	margin: 3px -10000px 0px 0px;
}

#u5236popup
{
	z-index: 145;
}

#u5236
{
	width: 291px;
	padding-bottom: 44px;
	top: 211px;
	left: 1079px;
}

#u5237
{
	z-index: 146;
	width: 200px;
	height: 353px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 10px 25px 2px 20px;
}

#u5773-4
{
	z-index: 210;
	width: 167px;
	min-height: 29px;
}

#widgetu5262
{
	z-index: 147;
	width: 0.01px;
	height: 319px;
	margin-top: 5px;
}

#widgetu5263
{
	z-index: 148;
	width: 202px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#u5266-4
{
	z-index: 149;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5264-4
{
	z-index: 153;
	width: 188px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5263:hover #u5264-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5263.focus-st #u5264-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5275
{
	z-index: 157;
	width: 202px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 53px;
	left: -1px;
}

#u5278-4
{
	z-index: 158;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5277-4
{
	z-index: 162;
	width: 188px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5263.fld-err-st #u5264-4,#widgetu5275:hover #u5277-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5275.focus-st #u5277-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#u5268-4
{
	z-index: 166;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#u5269-4
{
	z-index: 170;
	width: 200px;
	min-height: 28px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#widgetu5262.frm-subm-err-st #u5269-4
{
	min-height: 32px;
}

#u5267-6
{
	z-index: 174;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#u5274-21
{
	z-index: 180;
	min-height: 61px;
	width: 201px;
	margin-right: -10000px;
	margin-top: 218px;
}

#widgetu5270
{
	z-index: 201;
	width: 202px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 107px;
	left: -1px;
}

#u5272-4
{
	z-index: 202;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5271-4
{
	z-index: 206;
	width: 188px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5270:hover #u5271-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5270.focus-st #u5271-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#u5233
{
	width: 55px;
	padding-bottom: 10px;
	top: 233px;
	left: 1292px;
}

#u5234
{
	z-index: 215;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#pamphletu5279
{
	z-index: 217;
	width: 0.01px;
	height: 36px;
	padding-bottom: 3px;
	top: 9px;
	left: 50%;
	margin-left: 25px;
}

#u5302
{
	z-index: 218;
	width: 202px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u5303
{
	width: 209px;
	padding-bottom: 2px;
	top: -2px;
	left: -3px;
}

#u5304-4
{
	z-index: 220;
	width: 186px;
	min-height: 18px;
	padding: 8px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u5303:hover #u5304-4
{
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 18px;
	width: 186px;
	margin: 3px -10000px 0px 0px;
}

#u5303.PamphletThumbSelected #u5304-4
{
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 18px;
	width: 186px;
	margin: 3px -10000px 0px 0px;
}

#u5283popup
{
	z-index: 224;
}

#u5283
{
	width: 291px;
	padding-bottom: 44px;
	top: 211px;
	left: 700px;
}

#u5284
{
	z-index: 225;
	width: 200px;
	height: 349px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 10px 25px 6px 20px;
}

#u5772-4
{
	z-index: 289;
	width: 167px;
	min-height: 29px;
}

#widgetu5285
{
	z-index: 226;
	width: 0.01px;
	height: 315px;
	margin-top: 5px;
}

#widgetu5286
{
	z-index: 227;
	width: 202px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu5263.fld-err-st,#widgetu5286.fld-err-st
{
	width: 202px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287-4
{
	z-index: 228;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5288-4
{
	z-index: 232;
	width: 188px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5275.fld-err-st #u5277-4,#widgetu5286:hover #u5288-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5286.focus-st #u5288-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5290
{
	z-index: 236;
	width: 202px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 53px;
	left: -1px;
}

#widgetu5275.fld-err-st,#widgetu5290.fld-err-st
{
	width: 202px;
	height: 47px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u5292-4
{
	z-index: 237;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u5293-4
{
	z-index: 241;
	width: 188px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5286.fld-err-st #u5288-4,#widgetu5290:hover #u5293-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5290.focus-st #u5293-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5290.fld-err-st #u5293-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5263_input,#widgetu5263_prompt,#widgetu5275_input,#widgetu5275_prompt,#widgetu5286_input,#widgetu5286_prompt,#widgetu5290_input,#widgetu5290_prompt
{
	width: 188px;
	min-height: 14px;
	padding: 6px;
}

#u5300-4
{
	z-index: 245;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#widgetu5262.frm-sub-st #u5268-4,#widgetu5285.frm-sub-st #u5300-4
{
	min-height: 25px;
}

#u5299-4
{
	z-index: 249;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#u5294-6
{
	z-index: 253;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 287px;
}

#widgetu5262.frm-subm-ok-st #u5267-6,#widgetu5285.frm-subm-err-st #u5299-4,#widgetu5285.frm-subm-ok-st #u5294-6
{
	min-height: 28px;
}

#u5301-21
{
	z-index: 259;
	min-height: 61px;
	width: 201px;
	margin-right: -10000px;
	margin-top: 218px;
}

#widgetu5295
{
	z-index: 280;
	width: 202px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 107px;
	left: -1px;
}

#widgetu5270.fld-err-st,#widgetu5295.fld-err-st
{
	width: 202px;
	height: 101px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#u5296-4
{
	z-index: 281;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu5263.fld-err-st #u5266-4,#widgetu5275.fld-err-st #u5278-4,#widgetu5270.fld-err-st #u5272-4,#widgetu5286.fld-err-st #u5287-4,#widgetu5290.fld-err-st #u5292-4,#widgetu5295.fld-err-st #u5296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u5297-4
{
	z-index: 285;
	width: 188px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5270.fld-err-st #u5271-4,#widgetu5295:hover #u5297-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5295.focus-st #u5297-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5295.fld-err-st #u5297-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 188px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5270_input,#widgetu5270_prompt,#widgetu5295_input,#widgetu5295_prompt
{
	width: 188px;
	min-height: 68px;
	padding: 6px;
}

#widgetu5263:hover #widgetu5263_input,#widgetu5263.focus-st #widgetu5263_input,#widgetu5263.fld-err-st #widgetu5263_input,#widgetu5263:hover #widgetu5263_prompt,#widgetu5263.focus-st #widgetu5263_prompt,#widgetu5263.fld-err-st #widgetu5263_prompt,#widgetu5275:hover #widgetu5275_input,#widgetu5275.focus-st #widgetu5275_input,#widgetu5275.fld-err-st #widgetu5275_input,#widgetu5275:hover #widgetu5275_prompt,#widgetu5275.focus-st #widgetu5275_prompt,#widgetu5275.fld-err-st #widgetu5275_prompt,#widgetu5270:hover #widgetu5270_input,#widgetu5270.focus-st #widgetu5270_input,#widgetu5270.fld-err-st #widgetu5270_input,#widgetu5270:hover #widgetu5270_prompt,#widgetu5270.focus-st #widgetu5270_prompt,#widgetu5270.fld-err-st #widgetu5270_prompt,#widgetu5286:hover #widgetu5286_input,#widgetu5286.focus-st #widgetu5286_input,#widgetu5286.fld-err-st #widgetu5286_input,#widgetu5286:hover #widgetu5286_prompt,#widgetu5286.focus-st #widgetu5286_prompt,#widgetu5286.fld-err-st #widgetu5286_prompt,#widgetu5290:hover #widgetu5290_input,#widgetu5290.focus-st #widgetu5290_input,#widgetu5290.fld-err-st #widgetu5290_input,#widgetu5290:hover #widgetu5290_prompt,#widgetu5290.focus-st #widgetu5290_prompt,#widgetu5290.fld-err-st #widgetu5290_prompt,#widgetu5295:hover #widgetu5295_input,#widgetu5295.focus-st #widgetu5295_input,#widgetu5295.fld-err-st #widgetu5295_input,#widgetu5295:hover #widgetu5295_prompt,#widgetu5295.focus-st #widgetu5295_prompt,#widgetu5295.fld-err-st #widgetu5295_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u5280
{
	width: 55px;
	padding-bottom: 10px;
	top: 233px;
	left: 912px;
}

#u5233:hover,#u5280:hover
{
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u5281
{
	z-index: 294;
	width: 32px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u5196-4
{
	z-index: 105;
	min-height: 24px;
	top: 20px;
}

#u5196-4-bw
{
	z-index: 105;
}

#u4022
{
	z-index: 41;
	height: 170px;
	top: 50px;
}

#u4022-bw
{
	z-index: 41;
}

#u2059-4
{
	z-index: 42;
	min-height: 41px;
	top: 64px;
}

#u2059-4-bw
{
	z-index: 42;
}

#u2058-4
{
	z-index: 46;
	min-height: 18px;
	top: 118px;
}

#u2058-4-bw
{
	z-index: 46;
}

#menuu3911
{
	z-index: 50;
	width: 800px;
	top: 178px;
	left: 50%;
	margin-left: -400px;
}

#u3919
{
	width: 265px;
	min-height: 42px;
	margin-right: -10000px;
}

#u3922
{
	width: 265px;
	padding-bottom: 18px;
}

#u3922:hover
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u3923-4
{
	width: 265px;
	min-height: 24px;
}

#u3922:hover #u3923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 265px;
	margin: 0px;
}

#u3922.MuseMenuActive #u3923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 265px;
	margin: 0px;
}

#u3926
{
	width: 265px;
	min-height: 42px;
	margin-right: -10000px;
	left: 267px;
}

#u3929
{
	width: 265px;
	padding-bottom: 20px;
}

#u3922.MuseMenuActive,#u3929:hover
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u3929.MuseMenuActive
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u3931-4
{
	width: 265px;
	min-height: 22px;
}

#u3929:hover #u3931-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 265px;
	margin: 0px;
}

#u3929.MuseMenuActive #u3931-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 265px;
	margin: 0px;
}

#u3933
{
	width: 266px;
	min-height: 42px;
	margin-right: -10000px;
	left: 534px;
}

#u3936
{
	width: 266px;
	padding-bottom: 2px;
}

#u3936:hover
{
	width: 266px;
	min-height: 0px;
	margin: 0px;
}

#u3937-4
{
	width: 266px;
	min-height: 22px;
}

#u3936:hover #u3937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 266px;
	margin: 0px;
}

#u3936.MuseMenuActive #u3937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 266px;
	margin: 0px;
}

#u3938
{
	z-index: 70;
	height: 14px;
	width: 14px;
	margin-left: 126px;
	margin-top: 4px;
}

#u3934
{
	width: 266px;
	top: 42px;
}

#u3935
{
	width: 266px;
}

#u3936.MuseMenuActive,#u3935:hover
{
	width: 266px;
	min-height: 0px;
	margin: 0px;
}

#u3941
{
	width: 262px;
	padding: 2px;
	margin-right: -10000px;
}

#u3941:hover
{
	width: 262px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3943-4
{
	width: 258px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u3941:hover #u3943-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u3962
{
	width: 262px;
	padding: 2px;
	margin-right: -10000px;
}

#u3964-4
{
	width: 258px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u3941.MuseMenuActive #u3943-4,#u3962:hover #u3964-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u3953
{
	width: 262px;
	padding: 2px;
	margin-right: -10000px;
}

#u3954-4
{
	width: 258px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u3962.MuseMenuActive #u3964-4,#u3953:hover #u3954-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u3967
{
	width: 262px;
	padding: 2px;
	margin-right: -10000px;
}

#u3968-4
{
	width: 258px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u3953.MuseMenuActive #u3954-4,#u3967:hover #u3968-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u3940,#u3959,#u3952,#u3966,#u3973
{
	width: 266px;
}

#u3974
{
	width: 262px;
	padding: 2px;
	margin-right: -10000px;
}

#u3941.MuseMenuActive,#u3962.MuseMenuActive,#u3953.MuseMenuActive,#u3967.MuseMenuActive,#u3974.MuseMenuActive
{
	width: 262px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3976-4
{
	width: 258px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u3967.MuseMenuActive #u3968-4,#u3974:hover #u3976-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u3974.MuseMenuActive #u3976-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 258px;
	margin: 0px;
}

#u4346
{
	z-index: 11;
	min-height: 394px;
	border-style: solid;
	border-color: #E9A58E;
	background-color: transparent;
	border-width: 0px 0px 6px;
}

#u4346-bw
{
	z-index: 11;
	min-height: 394px;
}

#u4349
{
	z-index: 21;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 190px;
	margin-top: 31px;
	position: relative;
}

#u4351
{
	z-index: 22;
	width: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4352-8
{
	z-index: 23;
	width: 450px;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 80px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 80px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u4352-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4352-3
{
	font-size: 100px;
	line-height: 100px;
}

#u4352-2,#u4352-4
{
	line-height: 80px;
}

#u4352,#u4352-5
{
	font-size: 72px;
	line-height: 72px;
}

#u4350-4
{
	z-index: 31;
	width: 250px;
	min-height: 42px;
	background-color: transparent;
	color: #E9A58E;
	font-size: 72px;
	text-align: center;
	letter-spacing: 2px;
	line-height: 86px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 450px;
}

#u4525-4
{
	z-index: 36;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u4525-4-bw
{
	z-index: 36;
	min-height: 19px;
	margin-top: 16px;
}

#u4524
{
	z-index: 35;
	width: 14px;
	height: 14px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,8);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,8);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,8);
	margin-left: 592px;
	margin-top: 4px;
	margin-bottom: 3px;
	position: relative;
	border-width: 0px 0px 3px 2px;
}

#u4303-4
{
	z-index: 12;
	width: 500px;
	min-height: 47px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 36px;
	letter-spacing: 4px;
	line-height: 43px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 137px;
	position: relative;
}

#u4304-5
{
	z-index: 16;
	width: 578px;
	min-height: 386px;
	background-color: transparent;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 27px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
	margin-left: 10px;
	position: relative;
}

#pu2085
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u2085
{
	z-index: 2;
	height: 102px;
}

#u2085-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 102px;
}

#u4087-4,#u4087-4-bw
{
	z-index: 3;
	min-height: 41px;
}

#u4088-4
{
	z-index: 7;
	min-height: 18px;
}

#u4088-4-bw
{
	z-index: 7;
	min-height: 18px;
	margin-top: 58px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

